:local {
  .header {
    height: 60px;
    background-color: white;
    padding: 0 16px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);

    .headerContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .organization {
        display: flex;
        align-items: center;

        .organizationImg {
          height: 32px;
          margin-right: 12px;
        }

        h1 {
          margin: 0;
          font-size: 18px;
          color: rgba(0, 0, 0, 0.85);
        }
      }

      // 样式微调
      .header-tabs {
        margin-left: 15px;
        :global {
          .ant-menu-horizontal {
            border-bottom: none;
          }
        }
      }

      .headerRight {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: var(--font-size-base);
        color: var(--dark-color);

        a {
          color: var(--gray-medium-dark);
          font-size: var(--font-size-base);
          margin-right: var(--spacing-sm);
          padding: 0 var(--spacing-xs);

          &:hover {
            background-color: var(--gray-lightest);
            border-radius: 4px;
          }
        }

        .avatar {
          height: 50px;
          display: flex;
          align-items: center;
          padding: 0 var(--spacing-sm);

          .ant-avatar {
            width: 25px;
            height: 25px;
            font-size: var(--font-size-base);
          }

          .name {
            margin-left: var(--spacing-sm);
            font-size: var(--font-size-small);
          }

          &:hover {
            cursor: pointer;
            background-color: var(--gray-lightest);
          }
        }
      }
    }
  }

  .modal-container {
    display: flex;
    margin-top: var(--spacing-md);

    .container-info {
      display: flex;
    }

    .info_img {
      width: 66px;
      height: 56px;
    }

    .info_title {
      display: inline-block;
      height: 60px;
      line-height: 60px;
    }
  }
}

:global {
  .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
    justify-content: center;
  }

  .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-title-content {
    flex: inherit;
  }
}
