:local {
  .banner {
    width: 100%;
    background: repeating-linear-gradient(
      35deg,
      rgb(179 235 255),
      rgb(179 235 255) 20px,
      rgb(230 248 255) 10px,
      rgb(230 248 255) 40px
    );
    overflow: hidden;
    color: var(--dark-color);
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--font-size-small);
      line-height: 25px;
      text-align: center;
      position: relative;
    }

    .iconClose {
      display: inline-block;
      position: absolute;
      right: 10px;
      cursor: pointer;
    }
  }
}
