:local {
  .iframeContainer {
    position: relative;
    width: 100%;
    height: calc(100vh - 180px);
    box-sizing: border-box;
  }

  .iframeInput {
    width: 300px;
    margin-bottom: 16px;
  }

  iframe {
    display: block;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
  }
}