:local {
  .template-container {
    :global {
      .ant-typography {
        margin-bottom: 0;
      }
    }

    .link-button {
      display: block;
      margin-right: 10px;

      &-delete {
        margin-right: 10px;
        color: red;
      }
    }

    .more-button {
      font-size: 16px;
    }
  }
}
